li{
    list-style: none;
    display:inline-block;
    
}

a{
    color: rgba(0, 0, 0, 0.514);
}

ul{
    text-align: right;
    
}

.imageContainer{
    position: relative;
}

.imgText{
    position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgba(230, 220, 220, 0.705);
  color: black;
  padding-left: 20px;
  padding-right: 20px;

}

.free{
    text-align: center;
    background-color: rgb(88, 107, 88);
    color: white;
}